<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Thanos</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"
    />

    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
    <!-- VENDOR CSS -->
    <link
      rel="stylesheet"
      href="http://www.wrraptheme.com/templates/lucid/hr/html/assets/vendor/bootstrap/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="http://www.wrraptheme.com/templates/lucid/hr/html/assets/vendor/font-awesome/css/font-awesome.min.css"
    />

    <link
      rel="stylesheet"
      href="http://www.wrraptheme.com/templates/lucid/hr/html/assets/vendor/bootstrap-datepicker/css/bootstrap-datepicker3.min.css"
    />

    <!-- MAIN CSS -->
    <link rel="stylesheet" href="/stylesheets/main.css" />
    <link rel="stylesheet" href="/stylesheets/blog.css" />
    <link rel="stylesheet" href="/stylesheets/color_skins.css" />
  </head>
</html>
