<!DOCTYPE html>
<html lang="en">
  <head>
    <title>THANOS</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"
    />

    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
    <!-- VENDOR CSS -->
    <link
      rel="stylesheet"
      href="http://www.wrraptheme.com/templates/lucid/hr/html/assets/vendor/bootstrap/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="http://www.wrraptheme.com/templates/lucid/hr/html/assets/vendor/font-awesome/css/font-awesome.min.css"
    />

    <link
      rel="stylesheet"
      href="http://www.wrraptheme.com/templates/lucid/hr/html/assets/vendor/chartist/css/chartist.min.css"
    />
    <link
      rel="stylesheet"
      href="http://www.wrraptheme.com/templates/lucid/hr/html/assets/vendor/chartist-plugin-tooltip/chartist-plugin-tooltip.css"
    />
    <link
      rel="stylesheet"
      href="http://www.wrraptheme.com/templates/lucid/hr/html/assets/vendor/toastr/toastr.min.css"
    />
    <link
      rel="stylesheet"
      href="http://www.wrraptheme.com/templates/lucid/hr/html/assets/vendor/bootstrap-datepicker/css/bootstrap-datepicker3.min.css"
    />
    <link
      rel="stylesheet"
      href="http://www.wrraptheme.com/templates/lucid/hr/html/assets/vendor/jquery-datatable/dataTables.bootstrap4.min.css"
    />
    <link
      rel="stylesheet"
      href="http://www.wrraptheme.com/templates/lucid/hr/html/assets/vendor/jquery-datatable/fixedeader/dataTables.fixedcolumns.bootstrap4.min.css"
    />
    <link
      rel="stylesheet"
      href="http://www.wrraptheme.com/templates/lucid/hr/html/assets/vendor/jquery-datatable/fixedeader/dataTables.fixedheader.bootstrap4.min.css"
    />
    <link
      rel="stylesheet"
      href="http://www.wrraptheme.com/templates/lucid/hr/html/assets/vendor/sweetalert/sweetalert.css"
    />

    <!-- MAIN CSS -->
    <link rel="stylesheet" href="/stylesheets/main.css" />
    <link rel="stylesheet" href="/stylesheets/color_skins.css" />
    <link rel="stylesheet" href="/stylesheets/blog.css" />

    <style>
      td.details-control {
        background: url("http://www.wrraptheme.com/templates/lucid/hr/html/assets/images/details_open.png")
          no-repeat center center;
        cursor: pointer;
      }
      tr.shown td.details-control {
        background: url("http://www.wrraptheme.com/templates/lucid/hr/html/assets/images/details_close.png")
          no-repeat center center;
      }
    </style>
  </head>
</html>
